@font-face {
    font-family: 'Neue Haas';
    font-style: normal;
    font-weight: 400;
    src: local('NeueHaasDisplayBlack'), url('fonts/NHaasGroteskDSPro-15UltTh.otf') format('otf');
}
/* @font-face {
    font-family: 'Neue Haas';
    font-style: normal;
    font-weight: 500;
    src: local('NeueHaasDisplayBlack'), url('fonts/NeueHaasDisplayMediu.ttf') format('otf');
}
@font-face {
    font-family: 'Neue Haas';
    font-style: normal;
    font-weight: 600;
    src: local('NeueHaasDisplayBlack'), url('fonts/NeueHaasDisplayBold.ttf') format('otf');
} */